.main-container{
    margin-top: 80px;
    padding: 10px;
    
}

.guess-container{
    background-color: #ffffff;
    width: 500px;
    height: auto;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body{
    background-color: #d6e1ff;
}